<h2>Edit the Place</h2>
<div class="row col-md-8 col-md-offset-0.0">
<form class="form-horizontal" action="/places/<%=@place.id%>/update/" id="edit_submitter">
<label>Title:</label>
<input class="form-control" type="text" name="title" value="<%=@place.title%>">
<br>
<label>Photo URL:</label>
<input class="form-control" type="text" name="photo_url" value="<%=@place.photo_url%>">
<br>
<label>Price:</label>
<input class="form-control" type="text" name="admission_price" value="<%=@place.admission_price%>">
<br>
<label>Description:</label>
<textarea form="edit_submitter" class="form-control" type="text" name="description"><%=@place.description%></textarea>
<br>

<button class="form-control" style="background-color:lightblue">Submit</button>
</form>
</div>